.grid__row {
  font-size: 0; }

.grid__col--1 {
  display: inline-block;
  width: 8.33333%;
  font-size: 1.4rem; }

.grid__col--2 {
  display: inline-block;
  width: 16.66667%;
  font-size: 1.4rem; }

.grid__col--3 {
  display: inline-block;
  width: 25%;
  font-size: 1.4rem; }

.grid__col--4 {
  display: inline-block;
  width: 33.33333%;
  font-size: 1.4rem; }

.grid__col--5 {
  display: inline-block;
  width: 41.66667%;
  font-size: 1.4rem; }

.grid__col--6 {
  display: inline-block;
  width: 50%;
  font-size: 1.4rem; }

.grid__col--7 {
  display: inline-block;
  width: 58.33333%;
  font-size: 1.4rem; }

.grid__col--8 {
  display: inline-block;
  width: 66.66667%;
  font-size: 1.4rem; }

.grid__col--9 {
  display: inline-block;
  width: 75%;
  font-size: 1.4rem; }

.grid__col--10 {
  display: inline-block;
  width: 83.33333%;
  font-size: 1.4rem; }

.grid__col--11 {
  display: inline-block;
  width: 91.66667%;
  font-size: 1.4rem; }

.grid__col--12 {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-size: 1.2rem;
  height: 100%; }

body {
  font-family: "helvetica", sans-serif;
  height: 100%; }

li {
  list-style: none;
  padding-bottom: 1rem; }

h3 {
  padding-bottom: 0.5rem; }

.project--link {
  color: lightslategray;
  display: inline-block;
  font-size: 1.75rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  position: relative;
  text-decoration: none; }

.projects--text {
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.github {
  margin-bottom: 1rem;
  display: inline; }

.project--image {
  border: 1px solid #c8c8c8;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 100%; }

.subhead {
  color: #e6e6e6;
  font-size: 5rem;
  font-weight: 100;
  padding-top: 4rem;
  padding-bottom: 1rem; }

@media (min-width: 768px) {
  .project--link {
    width: 50%; }

  .projects--text .github {
    padding: 0rem; }

  .project--image {
    width: 100%; } }
@media only screen and (max-device-width: 1024px) {
  .project--link {
    padding-right: 0rem;
    width: 100%; }

  .project--image {
    width: 100%; } }
.wrapper {
  background-color: whitesmoke;
  min-height: 50rem;
  margin: 0 auto;
  padding: 2rem;
  width: 100%; }

.title {
  color: lightslategray;
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 0.75rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase; }

.index__nav--link {
  background-color: #697e8d;
  color: white;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 33.333%; }

.index__nav--link:first-child {
  position: absolute;
  left: 0; }

.index__nav--link:nth-child(2) {
  position: absolute;
  left: 33.333%; }

.index__nav--link:last-child {
  position: absolute;
  right: 0; }

.index__nav--link:hover {
  background-color: #7d92a1; }

@media (min-width: 768px) {
  .wrapper {
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto; } }
@media only screen and (max-device-width: 1024px) {
  .wrapper {
    background-color: whitesmoke;
    min-height: 85rem;
    width: 100%; } }
.about--link {
  color: lightslategray;
  display: block;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  position: relative;
  text-decoration: none; }

.about--image {
  border-radius: 0.5rem;
  float: right;
  margin-bottom: 1rem;
  width: 20%; }

.about__image--container {
  background-color: red;
  padding-left: 3rem; }

.group--text {
  display: inline-block;
  font-size: 1.25rem; }

.about--text {
  font-size: 1.25rem;
  padding-bottom: 1rem; }

.about--firstline {
  font-size: 1.75rem; }

.about--email {
  font-size: 1.25rem; }

@media only screen and (max-device-width: 1024px) {
  .about--image {
    width: 30%; }

  .about__image--container {
    padding-left: 1rem; } }
.blog__heading {
  font-size: 2rem; }

.blog__paragraph {
  padding-bottom: 1rem;
  font-size: 1.25rem; }

.blog__date {
  color: #c8c8c8;
  display: inline-block;
  font-weight: 300;
  font-size: 1.25rem;
  padding-right: 1rem; }

.blog__TTR {
  color: #697e8d;
  display: inline-block;
  font-weight: 300;
  font-size: 1.25rem; }

.hideContent {
  overflow: hidden;
  line-height: 1.75rem;
  height: 5.25rem; }

.showContent {
  line-height: 1.75rem;
  height: auto; }

.blog--showMore {
  -webkit-appearance: 0;
  -moz-appearance: 0;
  -ms-appearance: 0;
  appearance: 0;
  -webkit-outline: 0;
  -moz-outline: 0;
  -ms-outline: 0;
  outline: 0;
  -webkit-border: 0;
  -moz-border: 0;
  -ms-border: 0;
  border: 0;
  background-color: #697e8d;
  border-radius: 0.75rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 1rem; }

.blog--entry {
  padding-bottom: 2rem; }

@media only screen and (max-device-width: 1024px) {
  .blog__paragraph {
    font-size: 1.75rem; } }

/*# sourceMappingURL=main.css.map */
