// about

.about--link
  color: rgb(119, 136, 153)
  display: block
  margin-top: 1rem
  position: relative
  text-decoration: none

.about--image
  border-radius: 1rem
  float: right
  margin-bottom: 1rem
  width: 30%

.group--text
  display: inline-block
  font-size: 1.75rem

.about--text
  
