// app

.title
  color: rgb(119, 136, 153)
  font-size: 1.25rem
  font-weight: 100
  letter-spacing: 0.75rem
  padding-bottom: 1rem
  text-align: center
  text-transform: uppercase

.apostrophe
  letter-spacing: 0.5rem

// .index__nav
//   background-color: rgb(105, 126, 141)
//   padding: 0.5rem
//   position: absolute
//   left: 0
//   right: 0

.index__nav--link
  background-color: rgb(105, 126, 141)
  color: white
  display: inline-block
  font-size: 2rem
  padding: 0.5rem
  text-align: center
  text-decoration: none
  width: 33.333%

.index__nav--link:first-child
  position: absolute
  left: 0

.index__nav--link:nth-child(2)
  position: absolute
  left: 33.333%

.index__nav--link:last-child
  position: absolute
  right: 0

.index__nav--link:hover
  background-color: rgb(125, 146, 161)
