// projects

.project--link
  color: rgb(119, 136, 153)
  display: inline-block
  font-size: 1.75rem
  padding-bottom: 2rem
  padding-right: 1.5rem
  position: relative
  text-decoration: none

.projects--text
  font-size: 1.75rem
  padding-top: 1rem
  padding-bottom: 1rem

.github
  margin-bottom: 1rem
  display: inline

.project__image--container
  border: $borderStandard
  display: inline-block
  height: 26rem
  margin: 0 auto
  padding-bottom: 2rem
  position: relative
  overflow: hidden
  width: 100%

.project--image
  width: 100%

.subhead
  color: rgb(230, 230, 230)
  font-size: 5rem
  font-weight: 100
  padding-top: 4rem
  padding-bottom: 1rem

.project--info
  background-color: rgba(100, 125, 150, 0.9)
  top: 0
  right: 0
  bottom: 0
  left: 0
  color: white
  font-size: 1.25rem
  font-weight: 100
  padding: 1rem
  padding-top: 20%
  position: absolute
  width: 100%
  opacity: 0
  transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -webkit-transition: opacity .25s ease-in-out

.project--info:hover
  opacity: 100

// web breakpoints
@media (max-width: 479px)

@media (min-width: 480px) and (max-width: 767px)

@media (min-width: 768px)
  .project--link
    width: 50%

  .projects--text .github
    padding: 0rem

  .project__image--container
    height: 10rem

@media (min-width: 1024px)
  .project__image--container
    height: 14rem

// smart device breakpoints
@media only screen and (max-device-width: 767px)
  .project--link
    padding-right: 0rem
    width: 100%

  .project__image--container
    height: 26rem

  .project--info:hover
    opacity: 0

  .project--info
    top: auto
    right: auto
    bottom: 0
    left: auto
    color: white
    font-size: 1.5rem
    font-weight: 100
    line-height: 2rem
    padding: 1rem
    position: absolute
    width: 100%
    opacity: 100

@media only screen and (min-device-width: 767px)
  .project--link
    width: 50%

  .project--info:hover
    opacity: 0

  .project--info
    top: auto
    right: auto
    bottom: 0
    left: auto
    color: white
    font-size: 0.75rem
    font-weight: 100
    line-height: 1rem
    padding: 1rem
    position: absolute
    width: 100%
    opacity: 100
