// projects

.project--link
  color: rgb(119, 136, 153)
  display: inline-block
  position: relative
  text-decoration: none

.projects--text
  font-size: 1.25rem
  padding-top: 1rem
  padding-bottom: 0.5rem

.github
  margin-bottom: 1rem
  display: inline-block

.project--image
  display: block
  padding-top: 1rem
  padding-bottom: 2rem
  margin: 0 auto

.subhead
  color: rgb(240, 240, 240)
  font-size: 5rem
  font-weight: 100
  padding-top: 4rem
  padding-bottom: 1rem
